div{
    height: 300px;
    width: 300px;
}

.chefao{
    display: flex;
    background-color: rgb(167, 167, 63);
    height: 200px;
}
.empregado1{
    background-color: aqua;
    width: 100px;

}
.empregado2{
    background-color: blue;

    width: 100px;
}

.empregado3{
    background-color: rgb(0, 255, 157);
    width: 100px;
    height: 200px;
}
.empregado4{
    background-color: rgb(208, 255, 0);
    width: 100px;
}
.empregado5{
    background-color: rgb(255, 136, 0);
    width: 100px;
}
